<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>OPERASI BAHAGI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <link rel="stylesheet" href="divide-game/css/division-style.css">
		<!-- MDB -->
		<link
		  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
		  rel="stylesheet"
		/>
		
    </head>

    <body>
        <h1>OPERASI BAHAGI</h1>
        <div id="container">
            <div id="score">
                SKOR : <span id="scorevalue">0</span>
            </div>
            <div id="correct">
                BETUL
            </div>
            <div id="wrong">
                CUBA LAGI
            </div>
            <div id="question">

            </div>
            <div id="instruction">
                Klik pada jawapan yang betul
            </div>
            <div id="choices">
                <div id="box1" class="box"></div>
                <div id="box2" class="box"></div>
                <div id="box3" class="box"></div>
                <div id="box4" class="box"></div>
            </div>
            <div id="startreset">
                MULA SEKARANG
            </div>
            <div id="timeremaining">
                Masa yang tinggal :
                <span id="timeremainingvalue">60</span>
                saat
            </div>
            <div id="gameOver">
            </div>
        </div>

        <!-- script -->
        <script type="text/javascript" src="divide-game/js/division-script.js"></script>
		
		<!-- MDB -->
		<script
		  type="text/javascript"
		></script>
    </body>

</html>
