<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Timbang</title>
    <style>
        body 
		{
            text-align: center;
        }
        
		#iframeContainer 
		{
            margin: 20px auto;
        }
    </style>
</head>
<body>
    <h1>Model Penimbang Jisim</h1>

    <!-- Use a container div to center the iframe -->
    <div id="iframeContainer">
        <iframe src="https://iwant2study.org/lookangejss/math/ejss_model_shmmassscale_5_kg_version/shmmassscale_5_kg_version_Simulation.xhtml" width="800" height="600"></iframe>
    </div>
</body>
</html>